.ProfileScreen {
    min-height: 100vh;
    color: #fff;
    position: relative;
    text-align: center;
}

.ProfileScreen>img {
    height: 200px;
    width: 370px;
}

.profileScreen-card {
    line-height: 3rem;
}

.profileScreen-card>h4 {
    opacity: 0.4;
    font-weight: bold;
    font-size: 21px;
}

.profileScreen-card>button {
    background-color: #e50914;
    padding: 10px 10px;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 2px;
    margin-top: 10%;
    cursor: pointer;
}